{% extends 'core/layouts/base.html' %}
{% load static custom_filters %}

{% block content %}
<!-- [ Main Content ] start -->
<div class="page-header">
    <h3 class="fw-bold mb-3">{{ title }}</h3>
    <!-- [ breadcrumb ] start -->
    {% block breadcrumbs %}
        {% include 'core/includes/breadcrumb.html' %}
    {% endblock breadcrumbs %}
    <!-- [ breadcrumb ] end -->
</div>


<div class="row">
    <div class="col-md-12"> 
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">{{ subtitle }}</h4>
                </div>
            </div>
            <form id="post-form" method="get" data-parsley-validate>
                <div class="card-body">
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        <div class="input-icon">
                            <!-- Render the search input field -->
                            {{ field }}  <!-- This will render the <input> field with the 'form-control' class and 'placeholder' -->
                            <span class="input-icon-addon">
                                <i class="fa fa-search"></i> <!-- Font Awesome search icon -->
                            </span>
                        </div>

                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                    {% endfor %} 
                </div>
                <div class="card-action">
                    <button type="submit" class="btn btn-success">Query</button>
                    <button class="btn btn-primary" type="button" onclick="window.history.back();">Back</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% if list_item %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Result</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="multi-filter-select" class="display table table-hover" >
                        <thead>
                            <tr class="table-secondary">
                              <th class="mw-25">#</th>
                              {% for key, value in fields.items %}
                                <th>{{ value }}</th>
                              {% endfor %}
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                            <th class="mw-25">#</th>
                            {% for key, value in fields.items %}
                                <th>{{ value }}</th>
                            {% endfor %}
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for item in list_item %}
                            <tr class="pe-auto" onclick="window.location.href='{% url 'warehouse_product_create' wh=warehouse_id prd=item.id %}'" style="cursor: pointer;">
                              <td>{{ forloop.counter }}</td>
                              {% for field in fields %}
                                <td>{{ item|get_field_value:field }}</td>
                              {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- [ Main Content ] end -->
{% endblock content %}
