{% load custom_filters %}
<ul class="breadcrumbs mb-3">
  {% for breadcrumb in breadcrumb %}
      <li class="nav-item">
          {% if breadcrumb.url %}
            <a href="{% url breadcrumb.url %}">{{ breadcrumb.name }}</a>
          {% else %}
            <a href="#">{{ breadcrumb.name }}</a>  <!-- Last breadcrumb or one without URL -->
          {% endif %}

          {% if not forloop.last %}
            <li class="separator">
              <i class="icon-arrow-right"></i>
            </li>
          {% endif %}
      </li>
  {% endfor %}
</ul>

