{% load static %}

<!--   Core JS Files   -->
<script src="{% static 'inventory/assets/js/core/popper.min.js' %}"></script>
<script src="{% static 'inventory/assets/js/core/bootstrap.min.js' %}"></script>

<!-- jQuery Scrollbar -->
<script src="{% static 'inventory/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>

<!-- Chart JS -->
<script src="{% static 'inventory/assets/js/plugin/chart.js/chart.min.js' %}"></script>

<!-- jQuery Sparkline -->
<script src="{% static 'inventory/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js' %}"></script>

<!-- Chart Circle -->
<script src="{% static 'inventory/assets/js/plugin/chart-circle/circles.min.js' %}"></script>

<!-- Datatables -->
<script src="{% static 'inventory/assets/js/plugin/datatables/datatables.min.js' %}"></script>

<!-- Bootstrap Notify -->
<script src="{% static 'inventory/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js' %}"></script>

<!-- jQuery Vector Maps -->
<script src="{% static 'inventory/assets/js/plugin/jsvectormap/jsvectormap.min.js' %}"></script>
<script src="{% static 'inventory/assets/js/plugin/jsvectormap/world.js' %}"></script>

<!-- Sweet Alert -->
<script src="{% static 'inventory/assets/js/plugin/sweetalert/sweetalert.min.js' %}"></script>

<!-- Kaiadmin JS -->
<script src="{% static 'inventory/assets/js/kaiadmin.min.js' %}"></script>

<!-- pre-loader -->
<script>
  // Wait for the entire page to load
  $(window).on('load', function() {
      $('.loader-bg').fadeOut('slow', function() {
      });
  });
</script>
<!-- end pre-loader -->

<!-- datatables -->
<script >
  $(document).ready(function() {
    $('#multi-filter-select').DataTable( {
      "pageLength": 5,
      initComplete: function () {
        this.api().columns().every( function () {
          var column = this;
          var select = $('<select class="form-select"><option value=""></option></select>')
          .appendTo( $(column.footer()).empty() )
          .on( 'change', function () {
            var val = $.fn.dataTable.util.escapeRegex(
              $(this).val()
              );

            column
            .search( val ? '^'+val+'$' : '', true, false )
            .draw();
          } );

          column.data().unique().sort().each( function ( d, j ) {
            select.append( '<option value="'+d+'">'+d+'</option>' )
          } );
        } );
      }
    });
  });
</script>
<!-- datatables -->

<!-- alert SweetAlert -->
{% if messages %}
<script>
  // Loop through messages and display them using SweetAlert
  {% for message in messages %}
    swal({
      title: "{{ message.tags|capfirst }}!",
      text: "{{ message }}",
      icon: "{{ message.tags }}",
      buttons: {
        confirm: {
          text: "Confirm",
          value: true,
          visible: true,
          className: "btn btn-success",
          closeModal: true
        }
      }
    });
  {% endfor %}
</script>
{% endif %}
<!-- end alert SweetAlert -->

<!-- confirm SweetAlert -->
<script>
  function showSweetAlert(title, text) {
    swal({
      title: title,
      text: text,
      icon: 'warning',
      buttons: {
        confirm: {
          text: 'Yes, proceed!',
          className: 'btn btn-success'
        },
        cancel: {
          visible: true,
          className: 'btn btn-danger'
        }
      }
    }).then(function(Confirm) {
      if (Confirm) {
        // Add your form submission logic or AJAX call here
        // For example:
        $('#post-form').submit();  // Trigger the post form submission
      } else {
        swal.close();  // Close the SweetAlert if canceled
      }
    });
  }

  // Confirm action for #post-form
  $('#confirm').click(function(e) {
    e.preventDefault();
    showSweetAlert('Confirm action?', 'The changes will be saved.');
  });

  // Delete action for #post-form (using same form)
  $('#delete').click(function(e) {
    e.preventDefault();
    showSweetAlert('Are you sure?', 'This item will be moved to the trash.');
  });
</script>
<!-- end confirm SweetAlert -->

<!-- tooltips -->
<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>
<!-- endtooltips -->
  


  


